# Netlify (Production context)
CONVEX_DEPLOY_KEY=
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=
NEXT_PUBLIC_SITE_URL=https://blognext.netlify.app
SITE_URL=https://blognext.netlify.app
BETTER_AUTH_SECRET=
AUTH_JWKS_URL=

# Convex dashboard (production deployment)
# SITE_URL=https://blognext.netlify.app
# BETTER_AUTH_SECRET=
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
